div{
    margin: auto;
    width: 256px;
    height: 256px;
    border: 1px solid black;

}
p{
    font-size: 89%;
    font-weight: bold;
    color: black;
}

div:hover{
    background-image: url("https://screenshots.gamebanana.com/img/ico/sprays/megadethspray.png");

}
p:hover{color: yellow}